html {
  zoom: 67%;
}

body {
   padding: 50px;
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
   background-color:rgb(237, 227, 207);
   background-color: lightgray;
}

a {
    color: #00B7FF;
}

/* Main title: Precipitate Simulator = "WinQual 2.0" */
h1 {
    text-align: center;
}

/* Other titles for boxes */
h2 {
    text-align: center;
}

/* Boxes for cation/anion images */
.box {
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px;

  border: 3px solid black;
  padding: 10px;
}

/* rotate all the anion boxes back */
.anionbox {
    transform: rotate(90deg);
}

/* smaller box for cation insert */
.cationBox {
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 40px;
  border: 1px solid black;
}

/* smaller box for anion insert */
.anionBox {
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 40px;
  border: 1px solid black;
}

/* formating for images */
.img {
    width: 100px;
    height: 100px;
}

/* Outer box area for inserting cation */
.equation1 {
  position: relative;
  width: auto;
  height: fit-content;
  text-align: center;
  display: inline-block;
  margin-top: 75px;
  border: 3px solid black;
  top: 50px;
  left: -860px;
  background-color:rgb(226, 215, 195);
  background-color: rgb(195, 192, 192)
}

/* Plus symbol in between cation and anion insert boxes */
.plusSymbol {
  position: relative;
  width: auto;
  top: 170px;
  text-align: center;
  display: inline-block;
  font-size: 50px;
  padding: 20px;
  left: -840px;
}

/* Outer box area for inserting anion */
.equation2 {
  position: relative;
  width: auto;
  height: fit-content;
  text-align: center;
  display: inline-block;
  margin-top: 75px;
  border: 3px solid black;
  top: 50px;
  left: -820px; 
  background-color:rgb(226, 215, 195);
  background-color: rgb(195, 192, 192)
}

/* Outer box area for solution */
.solution {
  position: relative;
  bottom: -60px;
  left: 240px;
  width: fit-content;
  height: fit-content;
  text-align: center;
  display: inline-block;
  margin-top: 45px;
  border: 3px solid black;
  background-color:rgb(226, 215, 195);
  background-color: rgb(195, 192, 192)
}

/* Larger box for solution image */
.solutionBox {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 10px;
  border: 3px solid black;
}

/* Top row for cations */
.cation_container {
  text-align: center;
  align-self: auto;
  width: fit-content;
  height: fit-content;
  margin: auto;
  border: 3px solid black;
  /*background-color: rgb(77, 142, 95);*/
  background-color: rgb(30, 22, 86);
  color: lightgray;
  font-size: larger;
}

/*Left column for anions */
.anion_container {
  transform: rotate(-90deg);
  align-self: auto;
  text-align: center;
  float: left;
  width: fit-content;
  height: fit-content;
  margin-top: 300px;
  /*border: 3px solid black;*/
  /*background-color: rgb(77, 142, 95);*/
  /*background-color: rgb(30, 22, 86);*/
  color: lightgray;
  font-size: larger;
}

/* Trash Icon */
.trashImg {
  position: absolute;
  left: 1655px;
  top: 989px;
  width: 75px;
  padding-left: 10px;
}

/* Makes trash highlight hover */
.trash img:hover {
  opacity: .5;
}

/* Buttons on bottom right of page */
.buttons {
  position: relative;
  bottom: -300;
  display: inline-block;
  padding-bottom: 20px;
  float: right;
  margin-top: 15px;
  margin-right: 675px;
}

/* Solution button */
#solutionButton {
  background-color: darkgreen;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

/* Animation for solution button */
#solutionButton:hover {
  background-color: green;
  color: #fff;
  transform: translateY(-7px);
}

/* Reset button */
#resetButton {
  background-color: gray;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

/* Animation for reset button */
#resetButton:hover {
  background-color: darkgray;
  color: #fff;
  transform: translateY(-7px);
}

/* Help button */
#helpButton {
  background-color: darkred;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

/* Animation for help button */
#helpButton:hover {
  background-color: rgb(196, 53, 53);
  color: #fff;
  transform: translateY(-7px);
}

