:root {
  --bg-purple: rgb(30, 22, 86);
  --bg-purple-highlight: rgb(58, 52, 95);
}

html {
  zoom: 72%;
  min-width: 2000px;
}

body {
  margin: 0;
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
  background-color: rgb(237, 227, 207);
  background-color: lightgray;
}

.header {
  background: var(--bg-purple);
  display: auto;
  position: fixed;
  border: none;
  color: white;
  font-size: 24px;
  overflow: hidden;
  padding-left: 30px;
  vertical-align: middle;
  top: 0;
  left: 0;
  width: 100%;
}

.header h1 {
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 34px;
  line-height: 25px;
  border-radius: 4px;
}

.header-right {
  position: right;
  float: right;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  line-height: 25px;
  padding-right: 30px;
  padding-top: 12px;
  position: relative;
  margin-right: 40px;
}

.header-right h3 {
  float: center;
  text-align: center;
  color: var(--bg-purple-highlight);
}

/* Solution button */
.header #solutionButton {
  background-color: var(--bg-purple);
  border: none;
  color: white;
  border-radius: 15px;
  margin-right: 15px;
  font-size: 34px;
  padding: 20px;
}

/* Animation for solution button */
.header #solutionButton:hover {
  background-color: var(--bg-purple-highlight);
  color: #fff;
}

.header #mixtureButton {
  background-color: var(--bg-purple);
  border: none;
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin-right: 15px;
  font-size: 34px;
  padding: 20px;
}

/* Animation for solution button */
.header #mixtureButton:hover {
  background-color: var(--bg-purple-highlight);
  color: #fff;
}

/* Reset button */
.header #resetButton {
  background-color: var(--bg-purple);
  border: none;
  color: white;
  border-radius: 15px;
  padding: 10px;
  margin-right: 15px;
  font-size: 34px;
  padding: 20px;
}

/* Animation for reset button */
.header #resetButton:hover {
  background-color: var(--bg-purple-highlight);
  color: #fff;
}

/* Help button */
.header #helpButton {
  background-color: var(--bg-purple);
  border: none;
  color: white;
  border-radius: 15px;
  padding: 10px;
  font-size: 34px;
  padding: 20px;
}

/* Animation for help button */
.header #helpButton:hover {
  background-color: var(--bg-purple-highlight);
  border-color: var(--bg-purple);
  color: #fff;
}

.header-space {
  height: 100px;
}

/* Other titles for boxes */
h2 {
  text-align: center;
}

/* Top row for cations */
.cation_container {
  text-align: center;
  align-self: auto;
  width: fit-content;
  height: fit-content;
  margin: auto;

  border: 3px solid var(--bg-purple);
  /*background-color: rgb(77, 142, 95);*/
  background-color: rgb(30, 22, 86);
  color: whitesmoke;
  font-size: 22px;
}

/*Left column for anions */
.anion_container {
  transform: rotate(-90deg);
  align-self: auto;
  text-align: center;
  float: left;
  width: fit-content;
  height: fit-content;
  margin-top: 300px;
  /*border: 3px solid black;*/
  /*background-color: rgb(77, 142, 95);*/
  /*background-color: rgb(30, 22, 86);*/
  color: whitesmoke;
  font-size: 22px;
}

/* Boxes for cation/anion images */
.dragBox {
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border: 3px solid black;
}

/* rotate all the anion boxes back */
.dragBox.anion {
  transform: rotate(90deg);
}

/* the two boxes you drop the images into */
.dropBox {
  float: left;
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

/* images should fill whatever div they are in */
.img {
  width: 100%;
  height: 100%;
}

/* Outer box area for inserting cation */
.equation1 {
  position: absolute;
  width: auto;
  height: fit-content;
  text-align: center;
  display: inline-block;
  margin-top: 220px;
  margin-left: -855px;
  border: 3px solid black;
  background-color: rgb(226, 215, 195);
  background-color: rgb(195, 192, 192);
}

/* Plus symbol in between cation and anion insert boxes */
.plusSymbol {
  position: absolute;
  width: auto;
  text-align: center;
  display: inline-block;
  font-size: 50px;
  margin-top: 250px;
  margin-left: -610px;
}

/* Outer box area for inserting anion */
.equation2 {
  position: absolute;
  width: auto;
  height: fit-content;
  text-align: center;
  display: inline-block;
  margin-top: 220px;
  margin-left: -515px;
  border: 3px solid black;
  background-color: rgb(226, 215, 195);
  background-color: rgb(195, 192, 192);
}

/* Outer box area for solution */
.solution {
  position: absolute;
  width: fit-content;
  height: fit-content;
  text-align: center;
  display: inline-block;
  margin-top: 550px;
  margin-left: -750px;
  border: 3px solid black;
  background-color: rgb(226, 215, 195);
  background-color: rgb(195, 192, 192);
}

/* Larger box for solution image */
.solutionBox {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 10px;
  border: 3px solid black;
}

.solutionBox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Trash Icon */
.trash {
  position: absolute;
  left: 1780px;
  top: 1065px;
  width: 75px;
  margin-left: 100px;
  padding-bottom: 45px;
}

/* Makes trash highlight hover */
.trash img:hover {
  opacity: 0.5;
}

/* Popup window for "Check Solutions" button */
.solutionsPopup {
  display: none;
  position: fixed;
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  padding: 10px;
  width: 500px;
  height: 300px;
  left: 40%;
  top: 45%;
  margin-left: -100px;
  margin-top: -100px;
  background: #fff;
  border: 7px solid rgb(106, 47, 115);
  z-index: 20;
}

/* Darkens the background after the popup opens up */
#solutionsPopup:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -2;
}

/* CSS for "Check Solutions" button */
#solutionsPopup:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: -1;
}

/* Mystery cation buttons inside "Check Solution" popup */
.solutionsPopup #mystery {
  color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 13px;
  font-size: 20px;
  width: 30%;
}

/* Animation for cation buttons inside "Check Solution" popup*/
.solutionsPopup #mystery:hover {
  box-shadow: 0px 5px 10px 0px rgba(125, 125, 134, 0.5);

  /* red for wrong answer */
  /* border: 1px solid #990000;
  box-shadow: 0 0 3px 3px #990000; */

  /* green for correct answer */
  /* border: 1px solid #090;
  box-shadow: 0 0 3px 3px #090; */
}

/* Close button at the bottom of "Check Solution" popup */
.solutionsPopup #closeButton {
  font-size: 21px;
}
